@font-face {
    color: white;

    font-size: 20px;
    font-family: "Lemmilk";

    cursor: pointer;

    transition: 0.2s;
}

.answer-btn:hover {
    transform: translateY(-2px);
    filter: brightness(1.05);
}

.settings-btn {
    position: fixed;
    right: 20px;
    bottom: 20px;

    width: 60px;
    height: 60px;

    background: transparent;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    z-index: 1000;
}

.settings-btn img {
    width: 34px;

    transition: transform 0.8s cubic-bezier(0.2, 1, 0.2, 1);
}

.settings-btn:hover img {
    transform: rotate(180deg);
}

.settings-panel {
    position: fixed;
    top: 0;
    right: -320px;

    width: 300px;
    height: 100%;

    padding: 20px;

    background: var(--panel-color);

    transition: 0.3s ease;

    z-index: 999;
}

.settings-panel.open {
    right: 0;
}

.setting {
    margin-top: 20px;
}

.setting input {
    width: 100%;
    height: 45px;
}
